symlink=true
node-linker=hoisted
hoist-workspace-packages=false # the default in pnpm v9 is true, but that can break our runtime dependency checks
auto-install-peers=true
strict-peer-dependencies=false
public-hoist-pattern[]=*prisma*
shamefully-hoist=true
